*{
    margin: 0;
    padding: 0;
}

body{
    height: 3000px;
}

.nav{

    width: 100%;
    
    background-color:rgba(123,123,456,0.5);
}

.container{

    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
}

.nav-logo{

    width: 50%;
   height: 60px;
    align-items: center;
}
.nav-content{

    width: 50%;
   
  
}

.nav-content ul{

   
    list-style: none;
    display: flex;
  justify-content: space-evenly;
  transition: all .5s linear;

}
.nav-content ul li{
    color: whitesmoke;
    text-transform: capitalize;
line-height: 60px;
      
}
.nav-content ul li:hover{

    color: grey;
    cursor: pointer;
    transform: scale(1.2);
}

/*end of nav bar*/

.header{

    width: 100%;
height: 600px;
background-image: url('../img/banner-bg.jpg');
background-size: 100%;

}


.header .container{

    align-items: center;
     height: 600px;
}
.header-content{

    width: 50%;
    color: whitesmoke;
  
}

.header-content h1{

    font-size: 50px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 500;
}

.header-content p{

    margin-top: 10px;
}
.header-content button{

    padding: 10px 20px;
    margin-top: 20px;
    border: none;
}

.header-content button:hover{

    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
.header-img{

    width: 50%;
}

/*end of header*/

.product{

    width: 100%;
     height: 500px;
    margin-top: 10px;

}
.product p,.product h1{
    text-align: center;
}
.product p{
margin-top: 5px;
    color: gray;
}


.robot{

    width: 22%;
    text-align: center;
    margin-top: 20px;
    
    font-family: sans-serif;
    box-shadow: 20px 10px 30px  rgb(133, 134, 179);

    transition: all 1s linear;
}

.robot:hover{

    transform: scale(1.1);
}

.product .container{
justify-content: space-between;    
}

.details{

    width: 100%;
    background-color: whitesmoke;
      margin-top: 20px;
   
}

.details p{

    font-size: 13px;
    max-width: 80%;
    margin-left: 10px;
}

.details button{
        margin-top: 20px;
    padding: 10px 30px;
    border: none;
}